<div class="row align-items-center justify-content-center">
    <h1>Université <img id="unz" src="/CLIENT/Assets/img/logo-unz.png" alt="UNZ" class="img-fluid img-circle" style="max-width: 50px;"> NORBERT ZONGO</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-navbar">
    <a class="navbar-brand" href="/CLIENT/Src/Public/Home/home.html">
        <img id="cin" src="/CLIENT/Assets/img/CIN.jpg" alt="CIN" class="img-fluid img-circle" style="max-width: 50px;"> CIN
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-row">
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Home/home.html"> <i class="bi bi-house-door"></i> Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Events/events.html">Formations</a></li>
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Blog/blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Membership/membership.html">Adhésion</a></li>
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/About/about.html">À propos</a></li>
            <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Login/login.html">Se connecter</a></li>
        </ul>
    </div>
</nav>